.scrollContainer {
  overflow: hidden;
  white-space: nowrap;
}

.scrollContent {
  display: flex;
  animation: scrollRight 30s linear infinite;
}

.icon {
  height: 100px;
  width: auto;
  margin: 0 5%;
}

@keyframes scrollRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .icon {
    height: 50px;
    margin: 0 0.5%;
  }
}
