.projectsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .projectsContainer {
    flex-direction: column;
    align-items: center;
  }
}
.disableHover .uiuxBox:hover,
.disableHover .webDesignBox:hover {
  transform: none;
}
