/* ProjectsSection.module.css */
.projectsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.projectsSection h2 {
  font-size: 3em;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .projectsContainer {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
