/* Contact.module.css */
.contactContainer {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px 0;
  padding-bottom: 200px;
}

.contactBox {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactButton {
  background-color: #51c2e0;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  padding: 20px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.contactButton:hover {
  background-color: #2c7082;
}

.linkedinIcon {
  font-size: 4em;
  color: #51c2e0;
  margin-left: -180px;
  transition: color 0.2s ease-in-out;
  padding-right: 150px;
}

.linkedinIcon:hover {
  color: #2c7082;
}

.emptySpace {
  flex: 1;
}

@media (max-width: 768px) {
  .contactContainer {
    flex-direction: column;
    align-items: center;
  }
  .contactBox {
    flex-direction: column;
  }
  .emptySpace {
    display: none;
  }
  .linkedinIcon {
    padding: 0;
    margin-left: 0;
  }
}
