/* Footer.module.css */
.footer {
  text-align: left;
  color: #6f6f6f;
  padding: 20px 0;
  max-width: 1300px;
  margin: auto;
  font-size: 1rem;
}

.footerText {
  display: block;
  padding-left: 20px;
}

/* For the responsive part */
@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
  .footerText {
    padding-left: 0;
  }
}
