.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.modalTitle {
  font-size: 3rem;
}

.closeButton {
  cursor: pointer;
  border: none;
  background: none;
}

.projectRow {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.projectBox {
  width: calc(50% - 10px);
  position: relative;
  border-radius: 15px;
}

.projectImage {
  width: 100%;
  height: auto;
  display: block;
}

.projectOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  border-radius: 15px;
}

.projectTitle {
  color: white;
  font-size: 2.5rem;
  text-align: left;
  margin: 0;
}

.buttonRow {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.previewButton {
  padding: 12px 5px;
  background-color: white;
  color: black;
  font-size: 1.3rem;
  border-radius: 8px;
  border: 2px solid black;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  display: block;
  width: 25%;
  text-align: center;
  margin: 10px auto;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.previewButton:hover {
  background-color: black;
  color: white;
  border-color: transparent;
}
