.serviceSection {
  font-size: 3rem;
  margin-left: 20px;
}

.serviceItem {
  opacity: 0;
  transform: translateX(-20px);
  animation-fill-mode: forwards;
}

.slideInFromLeft {
  animation: slideIn 0.5s ease-out 0.5s forwards;
}

.slideInFromRight {
  animation: slideIn 0.5s ease-out 1s forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
